{% extends 'base.html.twig' %}

{% block title %}Les avis{% endblock %}

{% block body %}
<style>
    .add-opinion { background-color: lightgrey; padding: 10px; margin: 10px; width: 100%;}
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }

    .opinion { padding: 5px; margin-bottom: 10px; border-bottom: 1px solid black;}
</style>

<div class="example-wrapper">
    <h1>Les avis</h1>
    <a class="btn btn-primary btn-rounded" href="#add-opinion">Ajouter un avis</a>
    Trier par : <a href="?orderBy=note">note</a> - <a href="?orderBy=date">date</a>
    <article>
        {% for opinion in opinions %}
            <div class="opinion">
                <p>Par {{ opinion.name }} (<em>{{ opinion.email }}</em>) - Ajouté le {{ opinion.date|date('H:i:s d-m-Y') }}</p>
                <p>Note : {{ opinion.note }}/5</p>
                <p>{{ opinion.message }}</p>
            </div>
        {% endfor %}
    </article>
    <div class="add-opinion" id="add-opinion">
        <h3>Ajouter un avis</h3>
        {% form_theme opinion 'bootstrap_4_layout.html.twig' %}
        {{ form(opinion) }}
    </div>
</div>
<div class="text-center">
    <a href="{{ path('admin') }}">Espace administration</a>
</div>
{% endblock %}
